<div class='carousel-inner'>
  <div class='item active' id='slide1'>
    <img src="assets/img/carousel/slide3.jpg">
  </div>
  <div class='item' id='slide2'>
    <img src="assets/img/carousel/slide2.jpg">
  </div>
  <div class='item' id='slide3'>
    <img src="assets/img/carousel/slide1.jpg">
  </div>
  <div class='item' id='slide4'>
    <img src="assets/img/carousel/slide4.jpg">
  </div>
  <div class='item' id='slide5'>
    <img src="assets/img/carousel/slide5.jpg">
  </div>
  <div class='item' id='slide6'>
    <img src="assets/img/carousel/slide6.jpg">
  </div>
</div>
